.socialmedia {
  margin-top: 0;
  background: #f8efef;
}
.socialmedia__content {
  display: flex;
  padding: 15px 0;
}
.socialmedia__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 50%;
}
.socialmedia__title {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
}
.socialmedia__description {
  font-size: 18px;
  line-height: 21px;
  color: #86878b;
}
.socialmedia__links {
  display: flex;
  justify-content: space-between;
  gap: 2%;
  flex: 1 1 50%;
}
.socialmedia__link {
  transform: scale(0.8);
  width: 100%;
}
@media (max-width: 1070px) {
  .socialmedia__title {
    font-size: 18px;
    line-height: 25px;
  }
  .socialmedia__description {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 700px) {
  .socialmedia__content {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
  }
  .socialmedia__info {
    text-align: center;
    padding: 0 30px;
    gap: 30px;
    margin-bottom: 20px;
  }
}
