.socialmedia {
  margin-top: 0;
  max-height: 140px;
  background: #f8efef;
}
.socialmedia__content {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.socialmedia__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.socialmedia__title {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
}
.socialmedia__description {
  font-size: 18px;
  line-height: 21px;
  color: #86878b;
  transform: translateY(35%);
}
.socialmedia__links {
  display: flex;
  justify-content: space-between;
  flex-basis: 80%;
}
.social__links {
}
