.pricing__columns {
  display: flex;
  justify-content: space-between;
  color: #86878b;
  line-height: 21px;
  height: 530px;
  text-align: center;
  align-items: flex-end;
  gap: 30px;
}
.pricing__column {
  display: flex;
  flex-direction: column;
  flex-basis: 33%;
}
.pricing__column:hover {
  align-self: flex-start;
  box-shadow: 0 4px 10px rgba(51, 51, 51, 0.5);
}

.pricing__column-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #f5f5f5;
  height: 50px;
}
.pricing__column-name {
  height: 60px;
  background: #333333;
  color: #fff;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}
.pricing__column-value {
  height: 100px;
  background: #333333;
  color: #fff;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}
.pricing__column-duration {
  background: #333333;
  color: rgba (255, 255, 255, 0.5);
  line-height: 21px;
}
