.contact__form {
  display: flex;
  flex-direction: column;
  gap: 20%;
  height: 100%;
  margin-top: 50px;
}
.contact__form-inputs {
  display: flex;
  justify-content: space-between;
  flex-basis: 40%;
  gap: 30px;
  height: 100%;
}
.contact__form-userinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 50%;
  gap: 50px;
}

.contact__form-usermessage {
  height: 210px;
  flex-basis: 50%;
  align-self: flex-end;
}

.contact__form-button {
  margin-top: 50px;
  background: #ec7979;
  align-self: center;
  width: 370px;
}
