.footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 100%;
  padding: 10px;
  text-align: center;
}
.footer__links {
  justify-content: center;
  gap: 20px;
}

.footer__copyright {
  margin-top: 10px;
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 1024px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 16px;
  }
}
